@use '../base/variables' as *;

.Primary_Button{
    background-color: $primary-color;
    color: $fifth-color;
    font-weight: 600;
    border: 1px solid $primary-color;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition: .25s;

    &:hover{
        background-color: $secondary-color;
        color: $primary-color;
        transform: scale(1.06);
    }
}

.Primary_Button_Opposite{
    background-color: $secondary-color;
    color: $primary-color;
    font-weight: 600;
    border: 1px solid $primary-color;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    transition: .25s;

    &:hover{
        background-color: $primary-color;
        color: $fifth-color;
        transform: scale(1.06);
    }
}

.Primary_Button_2{
    border: none;
    background: $primary-color;
    color: white;
    padding: 15px 28px;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s;

    .Icon{
        padding-left: 5px;
    }

    &:hover{
        background-color: $fifth-color;
        color:$primary-color;
    }
}

.Primary_Button_Opposite_2{
    border: none;
    background: $primary-color;
    background-color: white;
    padding: 15px 28px;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s;

    .Icon{
        padding-left: 5px;
    }

    &:hover{
        color: $fifth-color;
        background-color:$primary-color;
    }
}