@use '../base/variables' as *;

.Section_Heading {
    background-image: url(../../images/section-heading-bg5.1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .Blur_Overlap {
      /* The element must have a transparent or semi-transparent background */
      background-color: rgba(255, 255, 255, 0.5); 
      
      /* Apply the blur effect to the background behind this card */
      backdrop-filter: blur(4px); 
      -webkit-backdrop-filter: blur(5px); /* Safari support */
      padding: 30px;
      text-align: center;

      .Section_Heading_Title {
          margin: 0;
          color: $third-color;
          font-size: 30px;
          font-weight: 700;
      
          span{
              color: $primary-color;
          }
      }
      
      .Section_Heading_Subtitle {
          max-width: 700px;
          margin: 10px auto 0;
          text-transform: capitalize;
          color: #444;
          font-size: 15px;
          font-weight: 500;
          line-height: 1.6;
          margin-bottom: 8px;
      }
      
      .Line{
          max-width: 120px;
          margin: auto;
          border-radius: 10px;
          background-color: $primary-color;
          height: 4px;
      }

    }
}


///////////////////////////////////////////////////////////////////////////////
//              RESPONSIVE MediaQury 
//////////////////////////////////////////////////////////////////////////////

@media (max-width: 576px) {
    .Section_Heading{
        .Blur_Overlap{
            .Section_Heading_Title{
                font-size: 23px;
            }
            .Section_Heading_Subtitle{
                font-size: 12px;
            }
        }
    }
}
