// global variables 
$primary-color:#1363b8;
$secondary-color:#ebf1f5;
$optional-color:#f7f9fc;
$third-color:#162521;
$forth-color:#047ba7;
$fifth-color:#FFFFFF;


// Course  Hero Section
.Course-View-Hero{
  background-color:$secondary-color;
  padding: 10px;

  .breadcrumb-section{
    font-weight: 500;
    padding: 20px 0 0 35px;
    .bread-link{
      text-decoration: none;
      color: $primary-color;
    }
    .course-name{
      color:$third-color;
    }
  }

  .thumbnail-banner{
    img{
        width:100%;
        padding: 20px;
        aspect-ratio:16/9;
        object-fit:cover;
        border-radius:40px;
  
  }
  }

  .thumbnail-data{
    .course-title{
      font-size: 2rem;
      font-weight: 600;
      padding: 20px 0 5px 0;
    }
    .category-pill{
      color: $fifth-color;
      background-color: $primary-color;
      padding: 5px ;
      font-size: small;
      font-weight: 600;
      border-radius: 5px;
      transition: .3s ease;
      &:hover{
        color: $primary-color;
        background-color: $fifth-color;
      }
    }
    .rating-enrollcount{
      padding: 15px 0 10px 0;
      .icon{
        margin-right: 20px;
        color: $primary-color;
      }
      span{
        color: $third-color;
        text-transform: capitalize;
        font-size: small;
        font-weight: 600;
      }
    }

    .course-description{
      font-size: 13px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      line-clamp: 3;
      overflow: hidden;
      line-height: 21px;
    }
    
    .hero-badges{
      display: grid;
      grid-template-columns:repeat(3,1fr);
      align-items: center;
      gap:25px;
      margin-bottom: 20px;

      .badge-item{
        background-color: $fifth-color;
        padding: 5px 10px;
        display: flex;
        border-radius: 10px;
        justify-content: center;
        transition: .25s ease-in;

        .icon{
          // background-color: red;
          display: flex;
          align-items: center;
          font-size: 15px;
          color: $primary-color;
          padding: 5px;
        }
        .body{
          display: flex;
          flex-direction: column;
          font-size: medium;
          margin: 5px ;
          
          small{
            font-size: 10px;
            font-weight: 450;
          }
          p{
            margin: 0;
            font-weight: 600;
            font-size: 13px;

          }

        }
        &:hover{
          color: $fifth-color;
          background-color: $primary-color;
          transform: scale(1.03);
          .icon{
            color: $fifth-color;
          }
          small{
            color: $fifth-color;
          }
          p{
            color: $fifth-color ;
          }
        }
      }
    }


  }
}

// Course details 
.Course-Details{
  .row{
    --bs-gutter-x: 0;
  }

  .Left-Side-Card{
    padding: 0 20px;

    .mobile-view{
      padding: 20px;
      border: 1px solid rgba(10, 28, 189, 0.3);

      
      .mobile-price{
        align-items: center;
        justify-content: space-evenly;
        
        .price-section{
          display: contents;
          border-bottom:1px solid $fifth-color;
        }

        .final-price {
          color: #16a34a;
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 0;
        }

        .price-row {
          display: flex;
          align-items: center;
          gap: 10px;
        } 

        .old-price {
          text-decoration: line-through;
          color: #999;
        }

        .discount-badge {
          background: #ef4444;
          color: white;
          font-size: 8px;
          font-weight: 600;
          padding: 2px 6px;
          border-radius: 6px;
        }

        .sidebar-button{
          display: contents;
          .enroll-btn {
            // width: 100%;
            background-color: $primary-color;
            color: white;
            border: 2px solid $primary-color;
            padding: 4px 15px;
            border-radius: 7px;
            // margin-top: 28px;
            font-weight: 600;
            font-size: smaller;
              transition:.3s;

              &:hover{
                  background-color: $secondary-color;
                  color: $primary-color;
                  border: 2px solid $primary-color;
                  transform:translateY(-2px);
                  box-shadow:0 10px 20px rgba(13,110,253,.25);
              }
          }

          .wishlist-btn {
            // width: 100%;
            background-color: $secondary-color;
            color: $primary-color;
            border: 2px solid $secondary-color;
            padding: 4px 15px;
            border-radius: 7px;
            // margin-top: 28px;
            font-weight: 600;
              transition:.3s;
          }
        }
      }

      // badges
      .hero-badges{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        align-items: center;
        gap:25px;
        margin-bottom: 10px;


        .badge-item{
          background-color: $fifth-color;

          // padding: 5px 10px;
          display: flex;
          border-radius: 10px;
          justify-content: center;
          transition: .25s ease-in;

          .icon{
            // background-color: red;
            display: flex;
            align-items: center;
            font-size: 15px;
            color: $primary-color;
            padding: 5px;
          }
          .body{
            display: flex;
            flex-direction: column;
            font-size: medium;
            margin: 5px ;
            
            small{
              font-size: 13px;
              font-weight: 450;
                              color: $primary-color;
            }
            p{
              margin: 0;
              font-weight: 600;
              font-size: 16px;

            }

          }
          &:hover{
            color: $fifth-color;
            background-color: $primary-color;
            transform: scale(1.03);
            .icon{
              color: $fifth-color;
            }
            small{
              color: $fifth-color;
            }
            p{
              color: $fifth-color ;
            }
          }
        }
      }
    
    }

    .Highlights-Section{
      padding: 20px;
      .highlights-body{
        h5{
          font-size: 25px;
          font-weight: 600;
        }
        .highlights{
          .highlight-item{
            .check-icon{
              color: $primary-color;
            }
            span{
              color: $third-color;
            }
          }
        }

      }

    }

    .course-tabs-card{
      padding:25px !important;
      border: 1px solid rgba(10, 28, 189, 0.3);
      .tabs {
        border-bottom:1px solid rgba(0,0,0,.2)  !important;
        gap: 10px;

        .nav-item {
          margin-right: 10px;
        }

        .nav-link {
          border: none !important;
          padding:18px 24px;
          font-weight:600;
          transition:.25s ease;
          color: $third-color;
          background: $fifth-color;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            font-size: 1rem;
          }

          &:hover {
            transform: scale(1.05);
            color: $primary-color !important;
          }
        }

        .nav-link.active {
          transform: none;
          color: $primary-color !important;
          border-bottom: solid 3px $primary-color !important;

        }

        .nav-link.disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      .tab-body-about{
        h5{
          color: $third-color;
          font-weight: bold;
          padding-top: 10px;
          margin-bottom:18px;
          font-size:1.5rem;
          font-weight:700;
        }
        p{
            margin: auto;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            overflow: hidden;
            color: $third-color;
            font-size: small;
            transition: 0.3s ease;
            line-height:1.8;
            color:#353535;
            margin-bottom:10px;
          }
        p.expanded{
          display: block;
      }

      .read-more-btn{
        border: none;
        background: transparent;
        color: $primary-color;
        font-weight: 600;
        display:inline-flex;
        align-items:center;
        gap:6px;
        padding: 0;
        transition: .2s;
        cursor: pointer;

        &:hover{
          transform: scale(1.02);
        }
      }

      .overview-divider{
          margin:28px 0;
      }
      
      }

      .tab-body-learn{
        h5{
          color: $third-color;
          font-weight: bold;
          padding-top: 10px;
          margin-bottom:18px;
          font-size:1.5rem;
          font-weight:700;
        }

        .highlights-grid{
            display:grid;
            grid-template-columns:1fr 1fr;
            gap:18px;
        }

        .highlight-column{
            display:flex;
            flex-direction:column;
            gap:14px;
        }

        .highlight-column:first-child{
            border-right:1px dashed $fifth-color;
            padding-right:18px;
        }

        .highlight-column:last-child{
            padding-left:18px;
        }

        .highlight-item{
            display:flex;
            align-items:center;
            gap:12px;
            padding:0 12px;
            transition:.25s;
            text-transform: capitalize;

            .check-icon{
                color:$primary-color;
                font-size:15px;
                flex-shrink:0;
            }

            span{
                font-size:12px;
                color:$third-color;
                font-weight:600;
            }

            &:hover{
                transform:translateX(5px)

            }

        }

      }

      .instructor-tab-body{

        .teacher-profile{
          display:flex;
          flex-direction:column;
          align-items:center;
          text-align:center;
          padding:20px 0 30px;

          .teacher-img{
            width:130px;
            height:130px;
            object-fit:cover;
            border-radius:50%;
            border:4px solid #fff;
            box-shadow:0 10px 30px rgba(0,0,0,.08);
            margin-bottom:10px;
          }

          .teacher-name{
            color:$third-color;
            font-weight:700;
            margin-bottom:5px;
          }

          .teacher-title{
            color:$third-color;
            margin-bottom:20px;
            font-size:15px;
          }

          .teacher-stats{
            display:flex;
            justify-content:center;
            gap:15px;
            flex-wrap:wrap;

            .stat-box{
              background:$fifth-color;
              border:1px solid #e7edf8;
              padding:10px 18px;
              border-radius:30px;
              font-size:14px;
              font-weight:500;
              color:$third-color;
            }
          }
        }

        .teacher-about{
          border-top:1px solid #edf2f7;
          padding-top:10px;

          h5{
            font-weight:700;
            color:$third-color;
            margin-bottom:15px;
          }

          p{
            color:#555;
            line-height:1.8;
            margin:0;
          }
        }
      }
      // For Instrctor  section 
      @media(max-width:768px){

        .instructor-tab-body{

          .teacher-profile{

            .teacher-img{
              width:100px;
              height:100px;
            }

            .teacher-name{
              font-size:24px;
            }

            .teacher-stats{
              flex-direction:column;
              width:100%;

              .stat-box{
                width:100%;
              }
            }
          }
        }
      }

      
    }
  }

  .Right-Side-Card{ 
    padding: 0 20px;
    .overview-card{
      border-radius: 5px;
      padding: 30px;
      max-width: 350px;
      background: $fifth-color;
      border: 1px solid rgba(10, 28, 189, 0.3);
    }
    
    .sidebar-title {
      font-size: 25px;
      font-weight: 600;
      text-align: left;
    }

    .price-section{
        padding-bottom:30px;
        border-bottom:1px solid $fifth-color;
    }

    .final-price {
      color: #16a34a;
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 8px;
    }

    .price-row {
      display: flex;
      align-items: center;
      gap: 10px;
    } 

    .old-price {
      text-decoration: line-through;
      color: #999;
    }

    .discount-badge {
      background: #ef4444;
      color: white;
      font-size: 12px;
      font-weight: 600;
      padding: 4px 10px;
      border-radius: 6px;
    }

    .overview-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-bottom: 15px;
    }
    .overview-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom:5px;
        border-bottom:1px dashed $fifth-color;
      
        &:last-child{
            border-bottom:none;
            padding-bottom:0;

        }

    }

    .overview-item .left {
      display: flex;
      align-items: center;
      gap: 6px;
      color: $third-color;
      span{
        color: $third-color;
      }
    }

    .overview-item .icon {
      color: $primary-color;
      font-size: 16px;
    }

    .sidebar-button{
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    .enroll-btn {
      width: 100%;
      background-color: $primary-color;
      color: white;
      border: 2px solid $primary-color;
      padding: 5px;
      border-radius: 7px;
      // margin-top: 28px;
      font-weight: 600;
        transition:.3s;

        &:hover{
            background-color: $secondary-color;
            color: $primary-color;
            border: 2px solid $primary-color;
            transform:translateY(-2px);
            box-shadow:0 10px 20px rgba(13,110,253,.25);
        }
    }

    .wishlist-btn {
      width: 100%;
      background-color: $secondary-color;
      color: $primary-color;
      border: 2px solid $secondary-color;
      padding:5px;
      border-radius: 7px;
      // margin-top: 28px;
      font-weight: 600;
        transition:.3s;
    }
    }

    // Share card
    .share-course-card{
      padding: 20px 10px;
      max-width: 350px;
      background: $fifth-color;
      border: 1px solid rgba(10, 28, 189, 0.3);
    } 
    h5 {
      font-weight: 700;
      margin-bottom: 8px;
    }

    .share-course-card p {
      color: #666;
      font-size: 14px;
    }

    .social-icons {
      display: flex;
      gap: 14px;
      margin-top: 18px;
    }

    .social-icons a {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary-color;
      transition: 0.3s;
    }

    .social-icons a:hover {
            background-color: $primary-color;
            color: $fifth-color;
            transform:translateY(-2px);
            box-shadow:0 10px 20px rgba(13,110,253,.25);
    }


  }
}

// Curriculum Card
.curiculum{
  margin-top: 10px;
  padding: 20px;
  border: 1px solid rgba(10, 28, 189, 0.3);


  h4{
    font-size:1.5rem;
    font-weight:700;
  }
  .empty-curriculum{
    margin: 20px;
    img{
      width: 100%;
      max-width: 250px;
    }
    h5{ 
      color:$third-color;
      margin-bottom:10px;
      font-weight: 500;
    }
    p{
      font-size: small;

    }
  }

}

// mobile-share Card
.share-card-mobile{
  .share-course-card{
    margin: 0 auto 15px auto;
    padding: 25px;
    background: $fifth-color;
    border: 1px solid rgba(10, 28, 189, 0.3);
  } 
  h5 {
    font-weight: 700;
    margin-bottom: 8px;
  }

  .share-course-card p {
    color: #666;
    font-size: 14px;
    font-weight: 500;
  }

  .social-icons {
    display: flex;
    gap: 14px;
    margin-top: 18px;
  }

  .social-icons a {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    transition: 0.3s;
  }

  .social-icons a:hover {
          background-color: $primary-color;
          color: $fifth-color;
          transform:translateY(-2px);
          box-shadow:0 10px 20px rgba(13,110,253,.25);
  }
}

// Accordon For Mobi
.course-accordion{
  margin-bottom: 20px;
  h4{
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    padding: 0 10px;
  }
  p{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
    .accordion-item{
      border: none;
        border-bottom:1px solid rgba(10, 28, 189, 0.3);
        border-radius: 5px;
        margin-bottom:5px;
        overflow:hidden;
        box-shadow:0 6px 18px rgba(0,0,0,.06);

        // What you'll learn 
        .tab-body-learn{
          h5{
            color: $third-color;
            font-weight: bold;
            padding-top: 10px;
            margin-bottom:18px;
            font-size:1.5rem;
            font-weight:700;
          }

          .highlight-item{
              display:flex;
              align-items:center;
              gap:12px;
              padding:0 12px;
              transition:.25s;
              text-transform: capitalize;

              .check-icon{
                  color:$primary-color;
                  font-size:15px;
                  flex-shrink:0;
              }

              span{
                  font-size:13px;
                  margin: 5px;
                  color:$third-color;
                  font-weight:500;
              }

              &:hover{
                  transform:translateX(5px)
              }

          }

        }

        // About Course 
        .tab-body-about{
          h5{
            color: $third-color;
            font-weight: bold;
            padding-top: 10px;
            margin-bottom:18px;
            font-size:1.5rem;
            font-weight:700;
          }
          p{
              margin: auto;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              line-clamp: 3;
              font-weight: 450;
              overflow: hidden;
              color: $third-color;
              font-size: small;
              transition: 0.3s ease;
              line-height:1.8;
              color:#353535;
              margin-bottom:10px;
            }
          p.expanded{
            display: block;
        }

        .read-more-btn{
          border: none;
          background: transparent;
          color: $primary-color;
          font-weight: 600;
          font-size: small;
          display:inline-flex;
          align-items:center;
          gap:6px;
          padding-left: 10px;
          transition: .2s;
          cursor: pointer;

          &:hover{
            transform: scale(1.02);
          }
        }

        .overview-divider{
            margin:28px 0;
        }
        
        }

        // About Instructor
        .instructor-tab-body{

          .teacher-profile{
            display:flex;
            flex-direction:column;
            align-items:center;
            text-align:center;
            padding:20px 0 30px;

            .teacher-img{
              width:130px;
              height:130px;
              object-fit:cover;
              border-radius:50%;
              border:4px solid #fff;
              box-shadow:0 10px 30px rgba(0,0,0,.08);
              margin-bottom:10px;
            }

            .teacher-name{
              color:$third-color;
              font-weight:700;
              font-size: 20px;
              margin-bottom:5px;
            }

            .teacher-title{
              color:$third-color;
              font-size:13px;
              font-weight: 600;
            }

            .teacher-stats{
              display:flex;
              justify-content:center;
              gap:15px;
              flex-wrap:wrap;

              .stat-box{
                background:$fifth-color;
                border:1px solid #e7edf8;
                padding:10px 18px;
                border-radius:30px;
                font-size:14px;
                font-weight:500;
                color:$third-color;
              }
            }
          }

          .teacher-about{
            border-top:none;
            text-align: center;

            h5{
              font-weight:600;
              color:$third-color;
              margin-bottom:15px;
              font-size: 17px;
            }

            p{
              color:#555;
              line-height:1.8;
              margin:0;
              font-weight: 500;
            }
          }
        }
    }

    .accordion-button{
      font-size: 15px;
        font-weight:600;
        color:$third-color;
        padding:18px;
        transition: .3s;

        &:focus{
            box-shadow:none;
        }

        &:not(.collapsed){

            background:$secondary-color;
            color:$primary-color;

        }
        &:hover{
          color: $primary-color;
          transform: translateX(3px)
        }
    }

    .accordion-body{
        background:white;
        padding:20px;
    }
}


.similar-courses{
  
  .section-header{
    padding: 15px 0 30px 50px ;
    h3{
      font-weight: 700;
    }
    p{
      font-size: 14px;
      font-weight: 500;
    }

    .view-all-btn{
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      border: none;
      background-color: $secondary-color;
      color: $primary-color;
      padding: 7px 17px;
      border-radius: 7px;
      transition: .3s;

      &:hover{
        background-color: $primary-color;
        color: $fifth-color;
        transform: translateX(10px);
      }
    }
  }
}


// Sticky Sidebar

@media(min-width:1200px){

  .overview-card {
      position:sticky;
      top:95px;
      align-self:flex-start;
  }

}

/* ==========================================
            LARGE TABLETS
========================================== */

@media (max-width:1200px){

  //  Course Hero Section
  .Course-View-Hero{
    padding: 0;
    .thumbnail-data{
      .course-title{
        font-size: 1.5rem;
      }
      .course-description{
        font-size: 11px;
      }

      .hero-badges{
        gap: 10px;
        .badge-item{
          .icon{
            font-size: 12px;
          }
          .body{
            small{
              font-size: 10px;
            }
            p{
              font-size: 12px;

            }

          }
        }
      }

    }
    .thumbnail-banner{
      img{
          width:100%;
          aspect-ratio:16/9;
          object-fit:cover;
          border-radius:40px;
      }
    }
  }

    // Course Details
  .Course-Details{
    .Right-Side-Card{
      .overview-card{
        position:sticky;
        top:95px;
        align-self:flex-start;
      }

    }
  }
}
  

/* ==========================================
                TABLETS
========================================== */

@media (max-width:992px){

  //  Course Hero Section
  .Course-View-Hero{
    padding: 0;

    .thumbnail-data{

      .course-title{
        font-size: 1.3rem;
      }
      .course-description{
        font-size: 10px;
      }

      .hero-badges{
        gap: 10px;
        .badge-item{
          .icon{
            font-size: 12px;
          }
          .body{
            small{
              font-size: 8px;
            }
            p{
              font-size: 10px;
            }

          }
        }
      }

    }
    .thumbnail-banner{
      img{
          width:100%;
          aspect-ratio:4/3;
          object-fit:cover;
          border-radius:40px;
      }
    }

  }

  // Course Details
  .Course-Details{
    .Left-Side-Card{
      padding: 0 10px;
      .course-tabs-card{
        .tabs {
          .nav-link {
            font-size: small;
            font-weight:600;
            max-width: 150px;
            padding: 15px;
          }

        }
        .tab-body-about{
          h5{
            font-size:1.3rem;
          }

      
      }

      .tab-body-learn{
        h5{
          font-size:1.3rem;

        }

        .highlight-column{
            gap:20px;
        } 

      }
      }
    }
  .Right-Side-Card{ 
    padding: 0 10px;
    .overview-card{
      padding: 15px;
      max-width: 300px;

    }
    
    .sidebar-title { 
      padding-top:10px;
      font-size: 19px;
    }

    .price-section{
        padding-bottom:30px;
        border-bottom:1px solid $fifth-color;
    }

    .final-price {
      font-size: 25px;
    }

    .price-row {
      display: flex;
      align-items: center;
      gap: 10px;
    } 

    .old-price {
      font-size: smaller;
    }

    .discount-badge {
      font-size: 10px;
      padding: 2px 8px;
    }

    .overview-item .left {
      
      strong{
        font-size: smaller;
      }
    }

    .sidebar-button{
      .enroll-btn {
        font-size: smaller;
      }

      .wishlist-btn {
        font-size: smaller;
      }
    }
  }
  }

}



/* ==========================================
            SMALL MOBILE
========================================== */

@media (max-width:768px){

  //  Course Hero Section
  .Course-View-Hero{
    background-color: $fifth-color;
    padding: 0;
      .breadcrumb-section{
        padding: 20px 30px 0  30px;
              .bread-link{
        font-size: small;
      }
      .course-name{
        font-size: small;
      }
      span{
        font-size: x-small;
      }
      }
    .thumbnail-data{
      padding: 0 30px;
      .course-title{
        padding: 0;
        font-size: 1.3rem;
      }
      .course-description{
        display: none;
      }
      .hero-badges{
        grid-template-columns:repeat(3,1fr);
      }
      .category-pill{
        font-size: x-small;
      }
      .rating-enrollcount{
        padding: 15px 0 10px 0;
        .icon{
          margin-right: 20px;
          color: $primary-color;
          font-size: smaller;
        }
        span{
          color: $third-color;
          text-transform: capitalize;
          font-size: x-small;
          font-weight: 600;
        }
      }
    }
    .thumbnail-banner{

      img{
          width:100%;
          aspect-ratio:16/9;
          object-fit:cover;
          border-radius:40px;
      }
    }

  }

  // Course Details
  .Course-Details{
    .Left-Side-Card{
      .mobile-view{
        display: block !important;
      }
    }
  }

}

/* ==========================================
            VERY SMALL
========================================== */

@media (max-width:576px){

  //  Course Hero Section
  .Course-View-Hero{
    .breadcrumb-section{
      padding: 20px 0 0  30px;
      .bread-link{
        font-size: small;
      }
      .course-name{
        font-size: small;
      }
      span{
        font-size: x-small;
      }
    }
    .thumbnail-data{
      padding: 0 30px ;
      .hero-badges{
        display: inline-flex;
      }
      .category-pill{
        font-size: x-small;
      }
      .rating-enrollcount{
        padding: 15px 0 15px 0;
        .icon{
          margin-right: 20px;
          color: $primary-color;
          font-size: smaller;
        }
        span{
          color: $third-color;
          text-transform: capitalize;
          font-size: x-small;
          font-weight: 600;
        }
      }
    }

  }

  .curiculum{
    display: block !important;
  }

  // Course details

  .Course-Details{
    .Left-Side-Card{
    
      .mobile-view{
        padding: 10px;
        
        .mobile-price{
          align-items: center;
          justify-content: space-evenly;
          
          .price-section{
            display: block;
          }
          
          .final-price {
            margin-bottom: 6px;
            font-size: 20px;
          }


          .old-price {
            text-decoration: line-through;
            color: #999;
            font-size: 12px;
          }

          .discount-badge {
            font-size: 10px;
          }

          .sidebar-button{
            display: flex;
            flex-direction: column;
            gap: 10px;

            .enroll-btn {
              border: 1px solid $primary-color;
              padding: 4px 15px;
              font-size: small;

                &:hover{
                    border: 1px solid $primary-color;
                }
            }

            .wishlist-btn {
              
              font-size: small;
              
            }
          }
        }

        // badges
        .hero-badges{

          .badge-item{

            
            .body{
              
              small{
                font-size: 10px;
                font-weight: 600;
              }
              p{
                font-weight: 800;
                font-size: 12px;

              }

            }
          }
        }
      
      }
    }
  }

  .share-card-mobile{
    display: block !important;
  }
}




// .course-sidebar {
//   display: flex;
//   flex-direction: column;
//   gap: 20px;
//   width:100%;
//   max-width:360px;
//   justify-self:end;
// }

// .share-course-card h5 {
//   font-weight: 700;
//   margin-bottom: 8px;
// }

// .share-course-card p {
//   color: #666;
//   font-size: 14px;
// }

// .social-icons {
//   display: flex;
//   gap: 14px;
//   margin-top: 18px;
// }

// .social-icons a {
//   width: 42px;
//   height: 42px;
//   border-radius: 50%;
//   background: $secondary-color;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: $primary-color;
//   transition: 0.3s;
// }

// .social-icons a:hover {
//         background-color: $primary-color;
//         color: $fifth-color;
//         transform:translateY(-2px);
//         box-shadow:0 10px 20px rgba(13,110,253,.25);
// }

// @media (max-width:768px){

//     .tab-body-learn{
//         .highlights-grid{
//             grid-template-columns:1fr;
//         }

//         .highlight-column:first-child{
//             border:none;
//             padding-right:0;
//         }

//         .highlight-column:last-child{
//             padding-left:0;
//         }
//     }
// }



// .course-tabs-card{
//   padding:25px !important;
//   border: 1px solid rgba(10, 28, 189, 0.3);
//   .tabs {
//     border-bottom:1px solid rgba(0,0,0,.2)  !important;
//     gap: 10px;

//     .nav-item {
//       margin-right: 10px;
//     }

//     .nav-link {
//       border: none !important;
//       padding:18px 24px;
//       font-weight:600;
//       transition:.25s ease;
//       color: $third-color;
//       background: $fifth-color;
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       svg {
//         font-size: 1rem;
//       }

//       &:hover {
//         transform: scale(1.05);
//         color: $primary-color !important;
//       }
//     }

//     .nav-link.active {
//       transform: none;
//       color: $primary-color !important;
//       border-bottom: solid 3px $primary-color !important;

//     }

//     .nav-link.disabled {
//       opacity: 0.5;
//       cursor: not-allowed;
//     }

//   }

//   .tab-body-about{
//     h5{
//       color: $third-color;
//       font-weight: bold;
//       padding-top: 10px;
//       margin-bottom:18px;
//       font-size:1.5rem;
//       font-weight:700;
//     }
//     p{
//         margin: auto;
//         display: -webkit-box;
//         -webkit-line-clamp: 3;
//         -webkit-box-orient: vertical;
//         line-clamp: 3;
//         overflow: hidden;
//         color: $third-color;
//         font-size: small;
//         transition: 0.3s ease;
//         line-height:1.8;
//         color:#353535;
//         margin-bottom:10px;
//       }
//     p.expanded{
//       display: block;
//   }

//   .read-more-btn{
//     border: none;
//     background: transparent;
//     color: $primary-color;
//     font-weight: 600;
//     display:inline-flex;
//     align-items:center;
//     gap:6px;
//     padding: 0;
//     transition: .2s;
//     cursor: pointer;

//     &:hover{
//       transform: scale(1.02);
//     }
//   }

//   .overview-divider{
//       margin:28px 0;
//   }
  
// .tab-body-learn{
//     h5{
//         padding-bottom: 5px;
//     }

//     .highlights-grid{
//         display:grid;
//         grid-template-columns:1fr 1fr;
//         gap:18px;
//     }

//     .highlight-column{
//         display:flex;
//         flex-direction:column;
//         gap:14px;
//     }

//     .highlight-column:first-child{
//         border-right:1px dashed $fifth-color;
//         padding-right:18px;
//     }

//     .highlight-column:last-child{
//         padding-left:18px;
//     }

//     .highlight-item{
//         display:flex;
//         align-items:center;
//         gap:12px;
//         padding:10px 12px;
//         border-radius:10px;
//         background: $secondary-color;
//         transition:.25s;
//         text-transform: capitalize;

//         .check-icon{
//             color:$primary-color;
//             font-size:18px;
//             flex-shrink:0;
//         }

//         span{
//             font-size:12px;
//             color:$third-color;
//             font-weight:600;
//         }

//         &:hover{
//             transform:translateY(-2px);
//             background:rgb(212, 221, 225);
//             box-shadow:0 8px 18px rgba(13,110,253,.08);

//         }

//     }

// }
//   }

//   .Tab-Curriculum{
//     .empty-curriculum{
//       text-align:center;
//       padding:60px 20px;
//       color:#777;

//     h5{
//       color:$third-color;
//       margin-bottom:10px;
//       font-weight: 400;
//     }

//   }

//   }

// .instructor-tab-body{

//   .teacher-profile{
//     display:flex;
//     flex-direction:column;
//     align-items:center;
//     text-align:center;
//     padding:20px 0 30px;

//     .teacher-img{
//       width:130px;
//       height:130px;
//       object-fit:cover;
//       border-radius:50%;
//       border:4px solid #fff;
//       box-shadow:0 10px 30px rgba(0,0,0,.08);
//       margin-bottom:10px;
//     }

//     .teacher-name{
//       color:$third-color;
//       font-weight:700;
//       margin-bottom:5px;
//     }

//     .teacher-title{
//       color:$third-color;
//       margin-bottom:20px;
//       font-size:15px;
//     }

//     .teacher-stats{
//       display:flex;
//       justify-content:center;
//       gap:15px;
//       flex-wrap:wrap;

//       .stat-box{
//         background:$fifth-color;
//         border:1px solid #e7edf8;
//         padding:10px 18px;
//         border-radius:30px;
//         font-size:14px;
//         font-weight:500;
//         color:$third-color;
//       }
//     }
//   }

//   .teacher-about{
//     border-top:1px solid #edf2f7;
//     padding-top:10px;

//     h5{
//       font-weight:700;
//       color:$third-color;
//       margin-bottom:15px;
//     }

//     p{
//       color:#555;
//       line-height:1.8;
//       margin:0;
//     }
//   }
// }

// // For Instrctor  section 

// @media(max-width:768px){

//   .instructor-tab-body{

//     .teacher-profile{

//       .teacher-img{
//         width:100px;
//         height:100px;
//       }

//       .teacher-name{
//         font-size:24px;
//       }

//       .teacher-stats{
//         flex-direction:column;
//         width:100%;

//         .stat-box{
//           width:100%;
//         }
//       }
//     }
//   }
// }

// }

// .overview-card,
// .share-course-card {
//   border-radius: 5px;
//   padding: 22px;
//   background: #fff;
//     border: 1px solid rgba(10, 28, 189, 0.3);
// }

// .sidebar-title {
//   font-size: x-large;
//   font-weight: 600;
//   margin-bottom: 5px;
//   text-align: left;
// }

// .price-section{
//     padding-bottom:20px;
//     border-bottom:1px solid $fifth-color;
// }

// .final-price {
//   color: #16a34a;
//   font-size: 30px;
//   font-weight: 700;
//   margin-bottom: 8px;
// }

// .price-row {
//   display: flex;
//   align-items: center;
//   gap: 10px;
// } 

// .old-price {
//   text-decoration: line-through;
//   color: #999;
// }

// .discount-badge {
//   background: #ef4444;
//   color: white;
//   font-size: 12px;
//   font-weight: 600;
//   padding: 4px 10px;
//   border-radius: 6px;
// }

// .overview-list {
//   display: flex;
//   flex-direction: column;
//   gap: 18px;
// }
// .overview-item{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding-bottom:5px;
//     border-bottom:1px dashed $fifth-color;
  
//     &:last-child{
//         border-bottom:none;
//         padding-bottom:0;

//     }

// }

// .overview-item .left {
//   display: flex;
//   align-items: center;
//   gap: 12px;
//   color: #555;
// }

// .overview-item .icon {
//   color: $primary-color;
//   font-size: 16px;
// }

// .enroll-btn {
//   width: 100%;
//   background-color: $primary-color;
//   color: white;
//   border: 2px solid $primary-color;
//   padding: 10px;
//   border-radius: 10px;
//   margin-top: 28px;
//   font-weight: 600;
//     transition:.3s;

//     &:hover{
//         background-color: $secondary-color;
//         color: $primary-color;
//          border: 2px solid $primary-color;
//         transform:translateY(-2px);
//         box-shadow:0 10px 20px rgba(13,110,253,.25);
//     }
// }


// .wishlist-btn {
//   width: 100%;
//   background: #edf1f9;
//   border: none;
//   padding: 14px;
//   border-radius: 10px;
//   margin-top: 12px;
//   font-weight: 500;
// }
