
// global variables 
$primary-color:#1363b8;
$secondary-color:#ebf1f5;
$optional-color:#f7f9fc;
$third-color:#162521;
$forth-color:#047ba7;
$fifth-color:#FFFFFF;

// Importing Partial CSS Files

@use 'pagehero' ;
@use 'infoitem' ;
@use 'breakpoints' ;
@use 'contactus' ;
@use 'allcourses' ;
@use 'viewcourseui' ;
@use 'coursecurriculum';
@use  'coursefaqui' ;
@use 'sidebar';
@use 'dashboardlayout';
@use 'dashboardui';
@use 'viewprofileui';
@use 'editprofileui';
@use 'coursedashboardui';
@use 'userdashboardui';
@use 'courseviewbackend';

// Base CSS 
@use '../css/base/global';
@use '../css/base/variables';

// layout CSS
@use '../css/layout/header';
@use '../css/layout/footer';

// Components CSS
@use '../css/components/brand';
@use '../css/components/buttons';
@use '../css/components/section_headings';
@use '../css/components/coursecard';
@use '../css/components/course_discovery_section';
@use '../css/components/faq_section';

// Pages CSS
@use '../css/pages/home_page';
@use '../css/pages/about_page';
@use '../css/pages/all_courses_ui_page';
@use '../css/pages/contact_us_page';




.hero img{
  width: 100%;
}

.cruz{
  max-height: 450px;
  border-radius: 20px;
}

.section-3{

  .card{
    border-radius: 10px;
    img{
        width: 70px;
        height:50px;
    }
}
}

.dashboard{
  .card{
    min-height: 450px;
  }
}

.sidebar 

ul{
  list-style-type: none;
    a {
      display: block;
      padding: 8px 0;
      text-decoration: none;
            color: darkblue;
            font-weight: 500;
          }
}
