
// global variables 
$primary-color:#1363b8;
$secondary-color:#ebf1f5;
$optional-color:#f7f9fc;
$third-color:#162521;
$forth-color:#047ba7;
$fifth-color:#FFFFFF;

// Importing Partial CSS Files

@use 'pagehero' ;
@use 'infoitem' ;
@use 'breakpoints' ;
@use 'aboutpage' ;
@use 'contactus' ;
@use 'allcourses' ;
@use 'viewcourseui' ;
@use 'coursecurriculum';
@use  'coursefaqui' ;
@use 'sidebar';
@use 'dashboardlayout';
@use 'dashboardui';
@use 'viewprofileui';
@use 'editprofileui';
@use 'coursedashboardui';
@use 'userdashboardui';
@use 'courseviewbackend';

// Base CSS 
@use '../css/base/global';
@use '../css/base/variables';

// Pages CSS
@use '../css/pages/home_page';

// Components CSS
@use '../css/components/brand';
@use '../css/components/buttons';
@use '../css/components/section_headings';
@use '../css/components/coursecard';

// layout CSS
@use '../css/layout/header';
@use '../css/layout/footer';


.Button_Style{
    background-color: $primary-color;
    color: white;
    font-weight: 400;
    border: 1px solid $primary-color;
    padding: 5px 10px;
    font-size: medium;
    text-decoration: none;
    border-radius: 10px;
}

.Button_Style:hover{
    background-color: $secondary-color;
    color:$primary-color;
}

.Button-opposite{
  background-color: $fifth-color;
  border-radius: 10px;
  color : $primary-color;
  font-weight: 600;
  padding: 10px;
}

.Button-opposite:hover{
  color : $fifth-color;
  background-color: $primary-color;
  border: $secondary-color solid 2px;
}

////////////👇 Section  Why Choose Us  👇\\\\\\\\\\\\\\\\\\


.why-choose {

  .row{
    --bs-gutter-x: 0;
  }

  background: rgb(236, 242, 244);
  padding: 25px 0 10px 0;

  .title{
    text-align:center;
    margin-bottom:50px;
    font-size:30px;
    font-weight:700;
  }

  span{
    color:$primary-color;
  }

  .why-item{
    text-align:center;
    padding:20px;
    transition: 0.3s ease;

    &:hover{
      transform: translateY(-5px);
    }
  }

  .icon-wrapper{
    width:120px;
    height:120px;

    display:flex;
    align-items:center;
    justify-content:center;

    margin:0 auto 20px;

    border-radius:50%;
    background:$fifth-color;

    border:2px solid rgba(35, 102, 247, 0.397);

    transition:.3s ease;
  }

  .why-icon{
    width:70px;
    height:70px;
    color:$primary-color;
    transition: 0.3s ease;
  }

  .why-item:hover  .icon-wrapper {
    transform:translateY(-5px);
    border-color:$primary-color;
    box-shadow: 0 5px 15px rgba(37, 99, 235,0.2);
    
  }

  .why-icon:hover{
    transform:scale(1.1);
  }

  h3{
    font-size:1.2rem;
    font-weight:600;
    margin-bottom:12px;
  }

  p{
    font-size:.95rem;
    line-height:1.7;
    color:$third-color;
    margin:0;
    text-align:center;
  }
}
////////////////// 👆 Section Why Choose Us 👆 \\\\\\\\\\\\\\\\\\


////////////👇 Section  Extra  👇\\\\\\\\\\\\\\\\\\
//after hero section
.gradi{
  background: #EBF1F5;
  background: linear-gradient(180deg,rgba(235, 241, 245, 1) 0%, rgba(208, 224, 237, 1) 20%, rgba(223, 233, 241, 1) 51%, rgba(235, 241, 245, 1) 78%, rgba(255, 255, 255, 1) 100%);
}

//
.gradi2{
  background: #FFFFFF;
  background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(208, 224, 237, 1) 20%, rgba(223, 233, 241, 1) 51%, rgba(235, 241, 245, 1) 78%, rgba(255, 255, 255, 1) 100%);
}

//  After why chooe us
.gradi3{
  background: #F7F9FC;
  background: linear-gradient(180deg,rgba(247, 249, 252, 1) 0%, rgba(208, 224, 237, 1) 42%, rgba(223, 233, 241, 1) 59%, rgba(235, 241, 245, 1) 78%, rgba(255, 255, 255, 1) 100%);
}

.testpic{
  background-color: $primary-color;
  color: white;
}




////////////////// 👆 Section Extra 👆 \\\\\\\\\\\\\\\\\\


//////////////////////////////////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\
.test{
    padding: 5px 20px;
    // border-bottom: 2px solid black;
}
.test1{
      // border-bottom: 2px solid black;
      margin: 0;
      padding: 0;
}



.hero img{
  width: 100%;
}

.cruz{
  max-height: 450px;
  border-radius: 20px;
}

.section-3{

  .card{
    border-radius: 10px;
    img{
        width: 70px;
        height:50px;
    }
}
}

.dashboard{
  .card{
    min-height: 450px;
  }
}

.sidebar 

ul{
  list-style-type: none;
    a {
      display: block;
      padding: 8px 0;
      text-decoration: none;
            color: darkblue;
            font-weight: 500;
          }
}
